/* ARTISANAT - CARTE */

.mapa-artisanat .map {
  top: 42px;
  left: 1px;
  width: 681px;
  transform: rotate(-2deg);
}

.circle-lago-atitlan {
  width: 16px;
  height: 16px;
  bottom: 78px;
  right: 201px;
}

#MX-CHP, #MX-MEX, #MX-GRO, #MX-HID, #MX-QUE, #MX-PUE, #MX-TLA, #MX-MOR, #MX-MIC {
  cursor:pointer;
}


/* ARTISANAT TEXTE & VIDEOS */

.txt-artisanat.left {
  text-align:right;
  padding-right:40px;
}

.txt-artisanat.right {
  padding-left:40px;
}

.video-txt-artisanat {
  padding:0px 100px;
}

.video-hecho-a-mano {
  height: 275px;
}


.photo-full-width-artisanat {
  background-attachment: fixed;
  height:60vh;
}


/* ARTISAN & ARTICLE MINIATURES */


.overlay-to-read {
  transition:0.3s ease-in-out;
}

.article-miniature:hover .overlay-to-read{
  opacity:1;
}

.article-date {
  color:#333333;
  /*text-transform: uppercase;*/
  font-size:12px;
  font-weight:300;
  margin:0;
  padding-top:15px;
}

/*A SUPPRIMER ???*/
.user-photo {
  height: 14px;
  border-radius: 50%;
  border: 1px solid #434141;
  margin: 0 5px 0 20px;
}

.article-details {
  margin:0;
  font-size:12px;
  font-weight:300;
  margin-top:10px;
  margin-bottom:20px;
}

.article-details i {
    margin-right: 5px;
}

.lire-suite {
  margin: 0 140px;
}

.article-miniature:hover .lire-suite {
  margin: 0 180px;
}


.artisanat-info-box {
  right: -144px;
  box-shadow: 1px 1px 5px #a9a9a9;
}

.artisanat-info-box:hover .read-more-info-box {
  margin: 0 70px;
}

.artisanat-info-box:hover .overlay-info-box {
  opacity:1;
}

.close-info-box {
  top: 8px;
  right: 13px;
  color: rgba(51, 51, 51, 0.54);
}
@keyframes YmoveArtisanat {
  0% {transform:translateY(0);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(0);}
}

.move-y-artisanat {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  animation: YmoveArtisanat 2s infinite ease;
}

.artisanat-move-arrow {
  top: 138px;
  right: 40px;
}

#arrow-artisanat {
  width: 24px;
  transform: rotate(155deg);
  top: 47px;
  right: 78px;
}

.artisanat-info-box.left {
  right:0;
  left: -144px;
  top:140px;
}

.artisanat-info-box.left a {
  margin-left:0;
}



/* ARTICLE SHOW */

#wrapper-content-article p {
  text-align:justify;
}

.photo-description {
  bottom: -2px;
  background-color: rgba(255,255,255,0.58);
  opacity: 0;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.photo-box:hover .photo-description {
  opacity:1;
}


.tab-commande {
  border-bottom: 2px solid #EEEEEE;
  transition: border 0.3s ease-in-out;
}

.tab-commande.active, .tab-commande:hover {
  border-bottom: 2px solid #333333;
}



/* JOURNAL */

#journal-show .articles-section {
  margin-top:60px;
}

#tortuga-aquarelle {
  width: 345px;
  right: 21px;
  top: 13px;
}


.journal-title {
  height:150px;
  text-align:center;
  margin-top:50px;
  position:relative;
}

.journal-title-aquarelle {
  height:80%;
}

.journal-subtitles-box {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
}

.journal-subtitle {
  min-width:240px;
  margin:20px 0;
}

.journal-subtitle.active {
  text-decoration: underline
}

.journal-subtitle h3 {
  font-weight:300;
  text-align:center;
  cursor:pointer;
  margin:0;
}

.journal-subtitle h3:hover {
  text-decoration: underline
}

.journal-products-result {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding:50px 100px 0 100px;
}

/* HISTOIRE */


.row-histoire {
  padding: 30px 89px;
}


/* TIMELINE */


.timeline-card {
  padding: 60px 100px;
  min-height: 420px;
}

.timeline-card.left {
  text-align:right;
}

.timeline-card.right {
  border-left: 2px solid rgba(17, 191, 174, 0.2);
}

.timeline-card .icon-middle {
  top: 58px;
  left: -16px;
}


/* EQUIPE */
.team-member-pair {
  margin-top: -100px;
  margin-left: 20%;
}

.team-member-3 {
  margin-top:-100px;
}

/* CONTACT PRESSE */

#download-press-btn {
  font-size:40px;
}
