#artisanat-container {

}


.artisanat-title {
  height:100px;
  text-align:center;
  margin-top: 60px;
  position:relative;
}

.artisanat-title-aquarelle {
  height:100%;
}

.mapa-artisanat {
  width:800px;
  text-align:center;
  margin:auto;
  position:relative;
}

.mapa-artisanat-aquarelle {
  width:100%;
}

.mapa-artisanat .map {
  position: absolute;
  top: 42px;
  left: 1px;
  width: 681px;
  transform: rotate(-2deg);
}

.circle-lago-atitlan {
  position: absolute;
    width: 16px;
    height: 16px;
    background: transparent;
    bottom: 78px;
    right: 201px;
    cursor:pointer;
    z-index:2;
}
/*
#chiapas-region {
  position: absolute;
      width: 116%;
    bottom: 80px;
    left: -200px;
}*/
#MX-CHP {
  cursor:pointer;
}

#MX-MEX {
  cursor:pointer;
}

#MX-HID, #MX-QUE, #MX-PUE, #MX-TLA, #MX-MOR {
  cursor:pointer;
}



/*#guerrero-region {
  position: absolute;
  width: 80%;
  bottom: 95px;
  left: 21px;
}*/

#MX-GRO {
  cursor:pointer;
}

/*#michoacan-region {
  position: absolute;
  width: 76%;
  bottom: 99px;
  left: 44px;
}*/

#MX-MIC {
  cursor:pointer;
}

/* TEXT & VIDEO */

.txt-artisanat.left {
  text-align:right;
  padding-right:40px;
}

.txt-artisanat.right {
  padding-left:40px;
}

.video-txt-artisanat {
  padding:0px 100px;
}

.video-txt-artisanat h2 {
  color:#A31D23;
  font-weight:300;
  font-size:30px;
  margin:0;
  text-transform: uppercase;
}

.video-txt-artisanat p {
  padding-top:20px;
}

.video-artisanat {
  padding:0;
  text-align:right;
}

.video-hecho-a-mano {
  width: 100%;
  height: 275px;
}


.photo-full-width-artisanat {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:60vh;
  margin-bottom: 30px;
}


/* ARTICLE MINIATURE */

.articles-section {
  width: 85%;
  margin: auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
}

.article-miniature {
  width: 500px;
  text-align:center;
  margin-bottom:50px;

}

ul.articles-section a:nth-child(2) {
  margin-top: 200px;
}

.article-photo {
  height:250px;
  width:100%;
  background-size: cover;
  background-position:center center;
  margin-bottom:10px;
  position:relative;
}

.overlay-to-read {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(255, 255, 255, 0.8);
  transition:0.3s ease-in-out;
  opacity:0;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.overlay-to-read h4 {
  color:#333333;
  font-weight:300;
  font-size:14px;
}

.article-miniature:hover .overlay-to-read{
  opacity:1;
}

.article-title {
  color:#A31D23;
  text-transform: uppercase;
  font-size:20px;
  font-weight:300;
  margin:0;
  padding-top:10px;
}

.article-date {
  color:#333333;
  /*text-transform: uppercase;*/
  font-size:12px;
  font-weight:300;
  margin:0;
  padding-top:15px;
}

.user-photo {
  height: 14px;
  border-radius: 50%;
  border: 1px solid #434141;
  margin: 0 5px 0 20px;
}

.article-details {
  margin:0;
  font-size:10px;
  font-weight:300;
  margin-top:10px;
}

.article-details i {
    margin-right: 5px;
}

.lire-suite {
  border-top: 1px solid #333333;
  margin: 0 160px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
  transition:0.3s ease-in-out;
}
.article-short-description {
  font-size:12px;
}
.article-miniature:hover .lire-suite {
  margin: 0 200px;
}
/*
.article-miniature:hover .article-photo {
  background-size:130%;
}*/

.artisanat-info-box {
  position:absolute;
  top: 0;
  background-color: white;
/*  border: 1px solid #333333;
*/  width: 300px;
  right: -144px;
  padding:20px;
    box-shadow: 1px 1px 5px #a9a9a9;
  cursor:pointer;
  opacity:0;
  transition:0.6s ease-in-out;
  position:absolute;
  z-index: -1;
}

.title-info-box {
      color: #A31D23;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    margin-top:0;

}

.artisanat-info-box p {
     font-size: 12px;
    text-align: justify;

}

.photo-info-box {
  width:100%;
  margin-bottom:10px;
  height:160px;
  background-size: cover;
  background-position: center center;
  position:relative;

}

.read-more-info-box {
  border-top: 1px solid #333333;
  margin: 0 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
  transition:0.3s ease-in-out;
}

.artisanat-info-box:hover .read-more-info-box {
  margin: 0 70px;
}

.overlay-info-box {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(255, 255, 255, 0.8);
  transition:0.3s ease-in-out;
  opacity:0;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.overlay-info-box h4 {
  font-size: 17px;
  font-weight: 300;
}

.artisanat-info-box:hover .overlay-info-box {
  opacity:1;
}

.close-info-box {
  position:absolute;
  top: 8px;
  right: 13px;
  color: rgba(51, 51, 51, 0.54);
}
@keyframes YmoveArtisanat {
  0% {transform:translateY(0);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(0);}
}

.move-y-artisanat {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  animation: YmoveArtisanat 2s infinite ease;
}

.artisanat-move-arrow {
 position: absolute;
    top: 238px;
    right: 20%;
    font-size: 12px;
    z-index: 1;
}

#arrow-artisanat {
      width: 24px;
    transform: rotate(155deg);
    position: absolute;
    top: 47px;
    right: 78px;
}

.artisanat-info-box.left {
  right:0;
  left: -144px;
  top:140px;
}

.artisanat-info-box.left a {
  margin-left:0;
}
