
#category-show {

}

.category-title {
  height:150px;
  text-align:center;
  margin-top:50px;
  position:relative;
}

#plante-aquarelle1 {
  position:absolute;
  width: 839px;
  right: -283px;
  top: -61px;
  z-index:-2;
}

#surfer-aquarelle {
  position:absolute;
  width: 345px;
  right: -71px;
  top: 7px;
  z-index:1;
}

#pelican-aquarelle {
  position:absolute;
  width: 450px;
  right: -71px;
  top: 7px;
  z-index:1;
  transform:rotate(86deg);
}


.category-title-aquarelle {
  height:80%;
}

.category-subtitles-box {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
}

.category-subtitle {
  min-width:240px;
  margin:20px 0;
}

.category-subtitle.active {
  text-decoration: underline
}

.category-subtitle h3 {
  font-weight:300;
  text-align:center;
  cursor:pointer;
  margin:0;
}

.category-subtitle h3:hover {
  text-decoration: underline
}

.category-products-result {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding:50px 100px 0 100px;
}



/* PRODUCT MINIATURE */

.product-miniature-card {
  width:300px;
  margin-bottom:50px;
}

.photos-product {
  position:relative;
  width:100%;
  height:400px;
}

.product-photo {
  position:absolute;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-size:cover;
  background-position:center center;
  transition:0.6s ease-in-out;
}

.photos-product .first-photo {

}

.photos-product .second-photo {
  opacity:0;
}

.call-to-action-banner {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  opacity:0;
  transition:0.6s ease-in-out;
}

.call-to-action-banner p {
  padding:0;
  margin:0;
}

.product-miniature-card:hover .first-photo {
  opacity:0;
}

.product-miniature-card:hover .second-photo {
  opacity:1;
}

.product-miniature-card:hover .call-to-action-banner {
  opacity:1;
}

.info-product {
 display:flex;
 flex-direction:row;
 justify-content: space-between;
 padding:10px 0 0 0;
 font-weight:300;
 font-size:18px;
}

.title-info-product {
 color:#333333;
 margin:0;
 /*text-transform: uppercase;*/
 color:#A31D23;
}

.price-info-product {
  margin:0;
}
