.condition-box {
  /*border:1px solid #A31D23;*/
  margin: 0 10px;
  /*background:rgba(157, 212, 184, 0.2);*/
  padding: 10px 20px;
}

.bahialetter {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display:flex;
}
.bahialetter input {
  width: 70%;
  /*border-bottom: 1px solid #A31D23;*/
  border:none;
  height: 29px;
  padding: 0px 10px;
  outline: none;
  color:#A31D23;
  background-color:rgba(163, 29, 35, 0.05);
}

.bahialetter  .btn-bahialetter {
  font-weight:300;
  height:30px;
  padding:0 10px;
  line-height:28px;
}
