.condition-box {
  /*border:1px solid #A31D23;*/
  margin: 0 10px;
  /*background:rgba(157, 212, 184, 0.2);*/
  padding: 10px 20px;
}

.bahialetter {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display:flex;
}
.bahialetter input {
  width: 70%;
  border-bottom: 1px solid #333333;
  padding: 0px 10px;
  outline: none;
  color: #333333;
  height: 29px;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #333333;
  box-shadow:none;
}

.bahialetter  .btn-bahialetter {
  font-weight:300;
  height:30px;
  padding:0 10px;
  line-height:28px;
}
