.condition-box {
  /*border:1px solid #A31D23;*/
  margin: 0 10px;
  /*background:rgba(157, 212, 184, 0.2);*/
  padding: 10px 20px;
}

.bahialetter {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display:flex;
}
.bahialetter input {
  width: 70%;
  border-bottom: 1px solid #A31D23;
  padding: 0px 10px;
  outline: none;
  color: #333333;
  height: 29px;
  font-family: "Raleway", sans-serif;
}

input[type=text]:focus:not([readonly]), input[type=date]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])  {
  border-bottom: 1px solid #A31D23;
  box-shadow:none;
}

.connexion-box.enews-modal input[type=text] {
  height:20px;
  margin:0 25px 0 0;
  font-size:10px;
}

.connexion-box input[type=text] {
  border-bottom:1px solid #A31D23;
  font-family:'Montserrat', sans-serif;
  font-weight:300;
  font-size:14px;
  height:30px;
  margin:0 50px 0 0;
}
.connexion-box.mot-doux input[type=text] {
  margin:0;
}

.inscription-box input[type=text], .inscription-box input[type=date], textarea.materialize-textarea {
  border-bottom:1px solid #A31D23;
  font-family:'Montserrat', sans-serif;
  font-weight:300;
  font-size:12px;
  height:30px;
  margin:0;
}

.inscription-box label::after {
  opacity:1;
  background-color:#A31D23;
  border:1.5px solid #A31D23;;
}

.inscription-box label.radio-red::before {
  opacity:1;
  border:1.5px solid #A31D23;
}

.inscription-box [type="checkbox"]+label {
  font-size:12px;
  line-height:normal;
}

.inscription-box label::before {
  opacity:1;
}

.inscription-box [type="radio"]+label {
  font-size:12px;
}

.reduc-box input[type=text] {
  border-bottom:1px solid #A31D23;
  font-family:'Montserrat', sans-serif;
  font-weight:300;
  font-size:14px;
  height:30px;
  margin:0;
  width:160px;
  text-transform: uppercase;
}

.reduc-box .btn-red {
  height:30px;
  line-height:30px;
  padding: 0 10px;
  font-weight:300;
  margin-left: -4px;
}

.bahialetter .btn-bahialetter {
  font-weight:300;
  height:30px;
  padding:0 10px;
  line-height:28px;
}

@media only screen and (max-width: 780px) {
  .no-br-xs {
    border-right:none;
  }
}
