#header-home {
  position: fixed;
    top: 0;
    bottom: 0;
    width: 150px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background:white;
        padding: 20px 0;
        z-index:1;
}

#content-right {
  margin-left:0;
  /*padding-left:150px;*/
  width:100%;
  display: block;
    position: relative;
    z-index: 0;
    min-height:100vh;
}

.text-center {
  text-align: center;
}

.txt-upper {
  text-transform: uppercase;
}


.txt-no-upper {
  text-transform: none;
}

.menu-left li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size:1em;
  font-weight:500;
}

.perroquet-img {
  position: absolute;
    z-index: 1;
    width: 500px;
    top: 0px;
    left: -40px;
}

.flex-column-space-around {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

.position-relative {
  position:relative;
}

.eshop-categ ul {
  text-transform: none;
  border-left:1px solid #A31D23;
  padding-left:10px;
  margin-top:5px;

}
.eshop-categ li {
  padding-bottom:5px;
  font-size:0.8em;
  font-weight:500;
}
.margin-left-20px {
  margin-left:20px;
}

.home-slider {
  min-height:85vh;
}

.bottom-green {
  border-bottom:4px solid #9DD4B8;
}


.bottom-red {
  border-bottom:4px solid #A31D23;
}

.min-height-100vh {
  min-height:100vh;
}

.min-height-90vh {
  min-height:90vh;
}

.min-height-80vh {
  min-height:80vh;
}

.min-height-70vh {
  min-height:70vh;
}

.min-height-60vh {
  min-height:60vh;
}

.height-60vh-important {
  height:60vh !important;
}

.padding-top-30px {
  padding-top:30px;
}

.height-60percent {
  height:60%;
}

.height-50percent {
  height:50%;
}

.height-35percent {
  height:35%;
}

.height-5percent {
  height:5%;
}

.height-70vh-important {
  height:70vh !important;
}

.height-40percent {
  height:40%;
}

.height-30percent {
  height:30%;
}

.height-95percent {
  height:95%;
}

.margin-bottom-20px {
  margin-bottom:20px;
}

.categ-box {
       padding: 30px 89px;
      margin-left:0;
      margin-right:0;
}

.product-box {
  border: 1px solid #9DD4B8;
  padding:30px 20px 5px 20px;
  margin: 0 201px 40px 201px !important;

  /* TRANSITION FOR SLIDER */

  position:relative;
}

.one-product-box {
  position:absolute;
  transition: 1s ease-in-out;
  top:30px;
  left:0;
  right:0;
  bottom:0;
}

.categ-card:hover {
  outline: 2px solid white;
  outline-offset: -20px;
}

.categ-card:hover h3 {
  opacity:1;
    transition: opacity 0.35s, transform 0.35s;

}

.overlay-color-card {
  transition: 0.3s ease-in-out;

}

.categ-card:hover .overlay-color-card {
  background-color: rgba(245, 245, 245, 0.5) !important;
}

.categ-card h3 {
  opacity: 0;
   transition: opacity 0.35s, transform 0.35s;
   color:white;
   text-transform: uppercase;
   font-weight: 300;
    font-size: 1.6em;
}

.categ-card {
  cursor: pointer;
  transition: opacity 0.35s, transform 0.35s;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.social-links {
  padding: 0px 50px 20px 50px;
  display:flex;
  justify-content: space-between;
  position:absolute;
  width: 74%;
  color:#A31D23;
  font-size:20px;
}

.social-links a {
  transition:0.3s ease-in-out;
}

.social-links a:hover {
  color: rgba(163, 29, 35, 0.8);
}

.btn:hover {
  color:white;
  background-color:#A31D23;
  transition:0.3s ease;
}

.title-product-card {
  /*color:#A31D23;*/
  color:black;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: left;
  font-weight:300;
 /* margin-top: 0;*/

}

.title-made-product-card {
  color:black;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 15px;
}

.separator-red {
  border-bottom:6px solid #A31D23;
  width:30px;
  margin:auto;
}

.separator-green {
  border-bottom:6px solid #9DD4B8;
  width:30px;
  margin:auto;
}

.vamos-title {
  width: 45%;
  position: absolute;
  top: 40%;
  left: 29%;
}

.arrow-home {
  position:absolute;
  bottom: 30px;
  left: 46.6%;
}

.text-arrow-home {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12Px;
}

@keyframes Ymove {
  0% {transform:translateY(0);}
  50% {transform:translateY(20px);}
  100% {transform:translateY(0);}
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

.move-y {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  animation: Ymove 2s infinite ease;
}



.title-green {
  font-weight: 300;
  text-transform: uppercase;
  color: #9DD4B8;
  font-size: 35px;
}

.title-red {
  font-weight: 300;
  text-transform: uppercase;
  color: #A31D23;
  font-size: 35px;
}

.no-stop-rotation {
  -webkit-animation: rotation 5s infinite linear;
}

.flex-column-center {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* MARGIN */

.no-margin {
  margin:0;
}

.no-margin-top {
  margin-top:0;
}


.mr-24px {
  margin-right:24px;
}

.mr-22px {
  margin-right:22px;
}

.mr-16px {
  margin-right:16px;
}

.mb-60px {
  margin-bottom:60px;
}

/* POSITION */

.position-rel {
  position:relative;
}

.position-abs {
  position:absolute;
}

/* FONT SIZE */

.font-size-10px {
  font-size:10px;
}

/* TEXT EFFECT */
.no-upper {
  text-transform: none;
}

/* OPACITY */

.opacity-0 {
  opacity:0;
}

/* HEIGHT & WIDTH */

.height-80px {
  height:80px;
}

.height-20px {
  height:20px;
}

.h-20px {
  height: 20px
}

.h-24px {
  height:24px;
}

.h-18px {
  height:18px;
}

.min-width-100px {
  min-width:100px;
}

.w-120px {
  width:120px;
}

.w-260px {
  width:260px;
}

.min-h-450px {
  min-height:450px;
}

.w-440px {
  width:440px;
}

/* CURSOR */

.cursor-pointer {
  cursor:pointer;
}

/* SHOW PRODUCT */

#arrow-left {
  top: 50%;
  left: 120px;
}

#arrow-right {
  top: 50%;
  right: 120px;
}

/* COLOR SVG */

.fill-grey {
  fill:#333333;
}

/* SLIDER HOME */

.home-slider {
  transition: background-image 1s ease-in-out;
  background:center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

/* SHOW @ NO-SHOW */

.show {
}

.insta-photos-box {
  margin: 50px auto;
  padding: 0 20px;
  cursor:pointer;
}

.insta-photo-box:hover .insta-overlay {
  opacity:1;
}

.insta-photo {
  width: 100%;
}

.insta-overlay {
  position:absolute;
  width:96%;
  height:100%;
  background-color: white;
  top:0;
  outline: 1px solid #A31D23;
  outline-offset: -8px;
  padding:16px;
  opacity:0;
  transition:0.3s ease-in-out;
}

.insta-text {
  font-size: 12px;
  color: #A31D23;
  font-weight: 300;
  margin:0;
}

/*.no-show {
  opacity:0;
}

.no-display {
  display:none;
}
*/


/* CAROUSEL */
.img-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: center center;
  transition:1s ease-in-out;
}

.btn-slider-home {
  top: 65%;
  z-index:3;
  position: relative;
}

.btn-product-home {
  z-index:3;
}
