/*// NAVBAR*/
nav {
  box-shadow:none;
}

.navbar-bahia {
  background-color: white;
  /*padding: 30px 0;*/
  z-index: 2;
  position: relative;
  width:100vw;
  border-bottom: 1px solid #9F1723;
  height:100Px;
}


.navbar-bahia a:hover {
  font-weight:500 !important;
  transition:none !important;
}


.navbar-bahia-container {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.navbar-bahia-container .navbar-bahia-side {
  flex: 0 0 40%;
  display: flex;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  /*padding-top: 77px;*/
}

.navbar-bahia-container-2 {
  display: flex;
 /* align-items: center;*/
  justify-content: space-around;
  width: 96%;
  height:40px;
}


.navbar-bahia-container-2 .navbar-bahia-side  {
  flex:0 0 100%;
  /*text-transform: uppercase;*/
  text-align:right;
  font-family: 'Montserrat', sans-serif;
}

.navbar-bahia-container-2 .navbar-bahia-side a {
  font-size:14px;
  color:#333333;
  font-weight:300;
}

.navbar-bahia-container .right a {
  margin-right:20px;
}

.navbar-bahia-container-2 .right a {
  margin-left:8px;
}


.navbar-bahia-container .navbar-bahia-side a {
  color:black;
  font-size:16px;
  font-weight:300;
}

.left {
  justify-content: flex-end;
}

.left a {
  margin-left:20px;
}

.right {
  justify-content: flex-start;
}

.logo-bahia-container {
  flex: 0 0 8%;
  justify-content: center;
}

.logo-bahia {
  position: relative;
  top: 2px;
  width: 110px;
  top: 14px;
}


#aventure-navbar:hover span {
  opacity:1 !important;
  font-weight:normal !important;
}

#aventure-navbar:hover {
  font-weight:500 !important;
}

#aventure-navbar span {
  transition: 0.3s ease;
}

#artisan-navbar:hover span {
  opacity:1 !important;
  font-weight:normal !important;
}

#navbar-2-femmes:hover span {
  opacity:1 !important;
  font-weight:normal !important;
}

#navbar-2-hommes:hover span {
  opacity:1 !important;
  font-weight:normal !important;
}

#navbar-2-enfants:hover span {
  opacity:1 !important;
  font-weight:normal !important;
}

#navbar-2-journal:hover span {
  opacity:1 !important;
  font-weight:normal !important;
}

#artisan-navbar:hover {
  font-weight:500 !important;
}

#artisan-navbar span {
  transition: 0.3s ease;
}

.logo-bahia-2 {
  margin-left: 20px;
  position: absolute;
  width: 80px;
  top: 8px;
}

.flex-row-space-between {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.menu-navbar-2-content {
  padding-left: 130px;
  padding-top: 10px;
}

.menu-navbar-2-account {
  padding-top: 10px;
  padding-right:20px;
}

.menu-navbar-2-content a {
  margin-right:20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight:300;
  transition:none;
}

.menu-navbar-2-account a {
  margin-right:20px;
  font-size: 14px;
}

.navbar a:hover {
  font-weight:500;
}


#navbar-2-rechercher:hover .account-text {
  display:inline;
  font-weight:300 !important;
}

#navbar-2-mon-compte:hover .account-text {
  display:inline;
  font-weight:300 !important;
}

#navbar-2-mon-panier:hover .account-text {
  display:inline;
  font-weight:300 !important;
}

.navbar-1-icon:hover .navbar-1-text {
  display:inline;
  font-weight:300 !important;
}

.navbar-1-text {
  display:none;
}

.account-text {
  display:none;
  transition:0.3s ease-in-out;
  margin-left:10px;
}

.navbar.navbar-inverse.navbar-fixed-top.flex-row-space-between.open::before {
  content:none;
}

.navbar.navbar-inverse.navbar-fixed-top.flex-row-space-between.open::after {
  content:none;
}

/* SEARCH FORM */

.search-form-box {
  position:absolute;
  top: -4px;
  left: 24px;
}

.search-form-box-2 {
  position:absolute;
  top: -4px;
  left: 24px;
}

form.search-form {
  width: 78px;
  height:20px;
}

form.search-form input {
  background-color: white;
  border-bottom: 1px solid #333333;
  height:100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
}

.panier-nav-box {
  transition:0.3s ease-in-out;
}

.mob-logo-nav {
  height: 44px;
  top: -7px;
  left:calc((100vw*30/100/2) - 26px);
}

/*#mobile-menu-right.nav-no-show {
 z-index:-2;
 opacity:0;
transition: opacity, 0.3s ease-in-out;
}

#mobile-menu-right.nav-no-show.open {
  z-index:2;
  opacity:1;
}*/
#mobile-menu-right.nav-no-show {
  margin-left:-350px;
  transition: margin-left 0.4s ease-out;
  box-shadow: 1px 1px 5px #a9a9a9;
}

#mobile-menu-right.nav-no-show.open {

  margin-left:0px;
  transition: margin-left 0.4s ease-in;
}

#mobile-menu-btn {
  transition: opacity, 0.3s ease-in-out;
}

#mobile-menu-btn.open {
  opacity:0;
}

.mob-menu-content {
  height:0px;
  overflow: hidden;
  transition: height 0.4s ease-out;
}

.mob-menu-content.mob-femmes.open {
  height:155px;
}

.mob-menu-content.mob-histoire.open, .mob-menu-content.mob-journal.open {
  height:46px;
}

.mob-menu-content.mob-liens-utiles.open {
  height:74px;
}

.mob-menu-content.open {
  transition: height 0.4s ease-in;
}
