#header-home {
  position: fixed;
    top: 0;
    bottom: 0;
    width: 150px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background:white;
        padding: 20px 0;
        z-index:1;
}

#content-right {
  margin-left:0;
  padding-left:150px;
  width:100%;
  display: block;
    position: relative;
    z-index: 0;
    min-height:100vh;
}

.text-center {
  text-align: center;
}

.txt-upper {
  text-transform: uppercase;
}


.txt-no-upper {
  text-transform: none;
}

.menu-left li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size:1em;
  font-weight:500;
}

.perroquet-img {
  position: absolute;
    z-index: 1;
    width: 500px;
    top: -34px;
    left: -40px;
}

.flex-column-space-around {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

.position-relative {
  position:relative;
}

.eshop-categ ul {
  text-transform: none;
  border-left:1px solid #D32F04;
  padding-left:10px;
  margin-top:5px;

}
.eshop-categ li {
  padding-bottom:5px;
  font-size:0.8em;
  font-weight:500;
}
.margin-left-20px {
  margin-left:20px;
}

.home-slider {
  min-height:100vh;
}

.bottom-green {
  border-bottom:4px solid #99CDAE;
}


.bottom-red {
  border-bottom:4px solid #D32F04;
}

.min-height-100vh {
  min-height:100vh;
}

.min-height-80vh {
  min-height:80vh;
}

.padding-top-30px {
  padding-top:30px;
}

.height-60percent {
  height:60%;
}

.height-50percent {
  height:50%;
}

.height-35percent {
  height:35%;
}

.height-5percent {
  height:5%;
}

.height-80vh-important {
  height:80vh !important;
}

.height-40percent {
  height:40%;
}

.height-30percent {
  height:30%;
}

.height-95percent {
  height:95%;
}

.margin-bottom-20px {
  margin-bottom:20px;
}

.categ-box {
      padding: 20px 80px;
      margin-left:0;
      margin-right:0;
}

.categ-card:hover {
  outline: 2px solid white;
  outline-offset: -20px;
}

.categ-card:hover h3 {
  opacity:1;
    transition: opacity 0.35s, transform 0.35s;

}

.overlay-color-card {
  transition: opacity 0.35s, transform 0.35s;
}

.categ-card:hover .overlay-color-card {
  background-color: rgba(26, 188, 156, 0.4) !important;
}

.categ-card h3 {
  opacity: 0;
   transition: opacity 0.35s, transform 0.35s;
   color:white;
   text-transform: uppercase;
   font-weight:500;
   font-size:2em;
}

.categ-card {
  cursor: pointer;
  transition: opacity 0.35s, transform 0.35s;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.social-links {
  padding-right: 50px;
  display:flex;
  justify-content: space-between;
  position:absolute;
  width:100%;
  bottom:15px;
}

.btn:hover {
  color:white;
  background-color:#D32F04;
  transition:0.3s ease;
}

.title-product-card {
  /*color:#D32F04;*/
  color:black;
  text-transform: uppercase;
  font-size: 1.6em;

}

.title-made-product-card {
  color:black;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 15px;
}

.separator-red {
  border-bottom:6px solid #D32F04;
  width:30px;
  margin:auto;
}

.separator-green {
  border-bottom:6px solid #99CDAE;
  width:30px;
  margin:auto;
}

.vamos-title {
  width: 45%;
  position: absolute;
  top: 40%;
  left: 29%;
}

.arrow-home {
  position:absolute;
  bottom: 30px;
  left: 46.6%;
}

.text-arrow-home {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12Px;
}

@keyframes Ymove {
  0% {transform:translateY(0);}
  50% {transform:translateY(20px);}
  100% {transform:translateY(0);}
}

.move-y {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  animation: Ymove 2s infinite ease;
}
