#product-show {
  width: 100vw;
  min-height:80vh;
}

.product-content {
  width: 100vw;
  padding:0 60px;
}

.product-title {
  width: 100vw;
  padding: 50px 50px 0 50px;
  text-align:center;
}
.product-title h1 {
  font-weight:300;
  color:#A31D23;
  font-size:50px;
  text-transform: uppercase;
}

.col-product-artisan {
  width: 30%;
  float:left;
}

.col-product-photos {
  width:40%;
  float: left;
}

.col-product-infos {
  width:30%;
  float: left;
}

.btn-product-map {
  width: 100%;
  line-height: 25px;
  height: 26px;
  font-size: 12px;
  font-weight: 300;
}

#main-photo {
  width:100%;
  margin-bottom:10px;
}

.thumb-product {
  flex: 0 0 15%;
  width:100%;
  height:80px;
  margin-bottom:10px;
  background-position:center center;
  background-size: cover;
  cursor:pointer;
}


/* FROM BUY */

label.color-choice {
  padding-left:0px !important;
  height: 25px;
  width: 25px;
  border:3px solid white;
  border-radius: 50%;
}

label.color-choice.checked {
}

label::after {
  opacity:0;
}

label::before {
  opacity:0;
}

label.size-choice {
  padding-left:0px !important;
  height: 35px !important;
  width: 35px;
  border-radius: 50%;
  font-size:9px;
  font-weight:100;
  text-align:center;
  line-height: 35px !important;
  font-family: 'Montserrat', sans-serif;
}

label.size-choice.checked {
  color:#333333;
  font-weight:300;
  text-decoration:underline;
}

.broderie-choice-box {
  position:relative;
}
.broderie-show {
  width:90%;
  height:100px;
  margin:auto;
}

.broderie-image {
  width:90%;
  height:100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  position:absolute;
  transition:0.3s ease-in-out;
}


#broderie-left {
  position:absolute;
  top: 40%;
  font-size: 20px;
  left: 0;
  cursor:pointer;
}

#broderie-right {
  position:absolute;
  top: 40%;
  font-size: 20px;
  right: 0;
  cursor:pointer;
}

.broderie-txt {
  position:absolute;
      top: -35px;
    right: 21px;
    font-size: 12px;
}
#arrow-broderie {
  width: 16px;
  transform: rotate(116deg);
  position: absolute;
  top: 13px;
  right: -20px;
}



@keyframes YmoveSmall {
  0% {transform:translateY(0);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(0);}
}

.move-y-small {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  animation: YmoveSmall 2s infinite ease;
}



/* QUANTITY */

.input-choice {
  display:flex;
  justify-content: center;
}
#quantity-input{
  width: 30px;
  height: 21px;
  text-align: center;
  border: 0;
  color: #333333;
  margin: 4px 10px 0 10px;
  padding: 0 0 3px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

#quantity-input:focus {
  border: 0px solid #9F1723 ;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(159, 23, 35  , 0.6);
  outline: 0 none;
}

.qty-btn {
  border: 1px solid #333333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 4px 10px 0 4px;
  color:#333333;
  line-height: 17px;
  cursor:pointer;
}

#decrease-quantity {
   padding: 0px 6px;
    margin-right: 0px;
        margin-left: 14px;
}

#increase-quantity {
  padding: 0px 0px 0px 0px;
}


.btn-add-cart {
  width:90%;
  margin-left:5%;
}

.wishlist-btn {
  font-weight: 300;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-align:center;
  text-decoration: underline;
  font-size: 12px;
  margin-top:10px;
  font-family:'Montserrat', sans-serif;
}
.wishlist-btn:hover {
  text-decoration: underline;
}

.guide-btn {
  font-weight: 300;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-align:center;
  text-decoration: underline;
  font-size: 12px;
  margin-top:10px;
  font-family:'Montserrat', sans-serif;
}
.guide-btn:hover {
  text-decoration: underline;
}

.product-suggestion-result {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.suggestion-title {
  text-align:center;
  padding:0px 100px 0 100px;
  margin-bottom:30px;
}

.suggestion-title h5 {
  font-size:18px;
  font-weight:300;
}
.product-suggestion-result .product-miniature-card {
  width: 180px;
}

.product-suggestion-result .photos-product {
  height: 220px;
}

.product-suggestion-result .call-to-action-banner p {
  font-size:12px;
}

.product-suggestion-result .call-to-action-banner {
  padding:10px;
}

.product-suggestion-result .description-product p {
  font-size:10px;
}

.price-position {
  top: -14px;
  left: 40%;
}



/* CATEGORY */

.category-title {
  height:150px;
  text-align:center;
  margin-top:50px;
  position:relative;
}

#plante-aquarelle1 {
  width: 839px;
  right: -283px;
  top: -61px;
}

#surfer-aquarelle {
  width: 345px;
  right: -71px;
  top: 7px;
}

#pelican-aquarelle {
  width: 450px;
  right: -71px;
  top: 7px;
  transform:rotate(86deg);
}

@media only screen and (min-width: 780px) {
  .category-products-result {
    padding:50px 100px 0 100px;
  }
}

@media only screen and (max-width: 780px) {
  .category-products-result {
    padding:20px;
  }
}



/* PRODUCT MINIATURE */

.product-miniature-card {
  margin-bottom:50px;
}


.photos-product .second-photo {
  opacity:0;
}


.product-miniature-card.sold-out .sold-out-box {
  opacity:1;
}

.product-miniature-card:hover .first-photo {
  opacity:0;
}

.product-miniature-card:hover .second-photo {
  opacity:1;
}

.product-miniature-card:hover .call-to-action-banner {
  opacity:1;
}

.price-info-product {
  margin:0;
}


/* WISHLIST BUTTON */

.add-to-whishlist-box:hover .fa.fa-heart-o, .product-miniature-card.favorite .fa.fa-heart-o {
  display:none;
}

.add-to-whishlist-box:hover .fa.fa-heart, .product-miniature-card.favorite .fa.fa-heart {
  display:inline;
}

.product-miniature-card.favorite .add-to-whishlist-box:hover .fa.fa-heart {
  display:none;
}
.product-miniature-card.favorite .add-to-whishlist-box:hover .fa.fa-heart-o {
  display:inline;
}

/* MOBILE _ CAROUSELL */
.mob-product-photos.owl-carousel, .product-suggestion-result.owl-carousel {
  position:relative;
}
.mob-product-photos.owl-carousel .owl-nav, .product-suggestion-result.owl-carousel .owl-nav {
  display:none;
}
.mob-product-photos.owl-carousel .owl-dots {
  display:flex;
  justify-content: center;
  width:100%;
  position:absolute;
  bottom:20px;
}
.product-suggestion-result.owl-carousel .owl-dots {
  display:flex;
  justify-content: center;
  width:100%;
  bottom: 25px;
  position: relative;
}
.mob-product-photos.owl-carousel .owl-dot span, .product-suggestion-result.owl-carousel .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: white;
  border: 1px solid #333333;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  opacity:0.5;
  border-radius: 30px;
  display:inline-block;
}

.mob-product-photos.owl-carousel .owl-dot.active span, .product-suggestion-result.owl-carousel .owl-dot.active span {
  opacity:1;
  background: #333333;
}

.suggestion-title img {
  width: 200px
}

.color-choice-box {
  text-align:center;
}

/* EQUIPE */
#thibaut-equipe {
  right:-162px;
  bottom:0px
}

