@media only screen and (max-width: 760px) {
  /* HEIGHT */

  .h-20px-xs {
    height:20px;
  }

  .h-80px-xs {
    height:80px;
  }
  .h-100px-xs {
    height:100px;
  }

  .h-80percent-xs {
    height:80%;
  }

  .h-90percent-xs {
    height:90%;
  }


  .h-125px-xs {
    height:125px;
  }

  .h-160px-xs {
    height:160px;
  }

  .h-200px-xs {
    height:200px;
  }

  .h-auto-xs {
    height:auto;
  }

  /* WIDTH */
  #histoire-container .m-w-240px.xs {
    min-width:40%;
  }s
  .m-w-240px.xs {
    min-width:100%;
  }
  .w-600px-xs {
    width:600px;
  }
  .w-100percent-xs {
    width:100%;
  }
  .w-48percent-xs {
    width:48%;
  }

  /* MARGIN */
  .m-auto-xs {
    margin:auto;
  }
  .mb-20px-xs {
    margin-bottom:20px;
  }
  .mb-25px-xs {
    margin-bottom:25px;
  }
  .mb-40px-xs {
    margin-bottom:40px;
  }
  .mt-80px-xs {
    margin-top:80px;
  }
  .no-mb-xs {
    margin-bottom:0;
  }
  .no-m-xs {
    margin:0;
  }
  .no-mt-xs {
    margin-top:0;
  }

  /* PADDING */

  .p-20px-xs {
    padding:20px;
  }

  .pb-20px-xs{
    padding-bottom:20px;
  }

  .no-p-xs {
    padding:0;
  }

  .no-pl-xs {
    padding-left:0 !important;
  }
  .no-pr-xs {
    padding-right:0 !important;
  }


  /* FONT SIZE */
  .fs-10px-xs {
    font-size:10px;
  }

  .fs-12px-xs {
    font-size:12px;
  }


  .fs-14px-xs {
        font-size: 1.3em;
  }

  .fs-18px-xs {
    font-size:18px;
  }

  /* TEXT */
  .text-center-xs {
    text-align:center;
  }

  /*POSITION */
  .right-10px-xs {
    right:10px;
  }

  /*FLEX*/

  .block-xs {
    display:block;
  }

  /* HISTOIRE */
  .row-histoire {
    padding:20px;
  }
  .timeline-card, .timeline-card.left, .timeline-card.right {
    padding:40px;
    text-align:center;
    min-height:200px;
  }
  .timeline-card.right {
    border:none;
  }
  .right {
    float:none !important;
  }
  .left {
    float:none !important;
  }
  .timeline-card .icon-middle {
    top: -15px;
    left: 46%;
  }

  /* ARTISANAT */

  .mapa-artisanat {
    margin-left:-184px;
  }
  .artisanat-move-arrow {
    top: 16px;
    right: 195px;
  }
  #arrow-artisanat {
    transform: rotate(90deg);
  }
  .mapa-artisanat .map {
    top: -20px;
    left: -88px;
    width: 614px;
  }
  .artisanat-info-box  {
    right: 4%;
    top: 20%;
    width: 90vw;
    position:fixed;
  }
  .artisanat-info-box.left {
    left: 4%;
    top: 20%;
    width: 90vw;
    position:fixed;
  }
  .circle-lago-atitlan {
    bottom: 56px;
    left: 435px;
    right:0;
  }
  .video-txt-artisanat {
    padding: 0;
  }
  .txt-artisanat.left {
    text-align:center;
    padding:0px 20px 20px 20px;
  }
  .txt-artisanat.right {
    text-align:center;
    padding:20px 20px 0px 20px;
  }
  .photo-full-width-artisanat {
    height:40vh;
  }

  #journal-show .articles-section {
    margin-top:0;
  }

  /* JOURNAL */

  .journal-subtitle {
    min-width:100px;
  }

  /* ARTICLE */

  .lire-suite {
    margin: 0 80px;
  }
  .container-100-xs {
    width:100%;
  }


  /* PRODUCT */
  .product-suggestion-result .product-miniature-card {
    width: 80%;
  }
  .product-suggestion-result .photos-product {
    height:300px;
  }
  .product-title h1 {
    font-size:30px;
    margin-top:10px;
    margin-bottom:20px;
  }
  .product-title {
    padding:50px 20px 0px 20px ;
  }
  .price-box {
    margin:0 40px;
  }
  .price-position {
    left:36%;
  }
  .product-content {
    padding:0;
  }
  .fs-2em-xs {
    font-size:2em;
  }
  .mt-30px-xs {
    margin-top:30px;
  }
  .suggestion-title img {
    width:100%;
  }
  .suggestion-title {
    margin-bottom:0;
  }
  .btn-product-map {
    line-height: 20px;
  }

  .broderie-show {
    height:140px;
  }
  .broderie-image-xs {
    width:90%;
    height:100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position:absolute;
    transition:0.3s ease-in-out;
  }

  #broderie-left-xs {
    height: 100%;
    width: 30%;
    z-index: 1;
    padding-top: 35px;
    position:absolute;
    left:30px;
  }
  #broderie-left-xs i {
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 4px black
  }

  #broderie-right-xs {
    height: 100%;
    width: 30%;
    z-index: 1;
    padding-top: 35px;
    position:absolute;
    right:30px;
    top:0;
    text-align:right;
  }
  #broderie-right-xs i {
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
}


/* IPAD */

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .category-products-result {
    padding: 60px;
  }
}
